@{
    string collapseToggle = ViewBag.IsHero ? "data-bs-toggle=\"collapse\" data-bs-target=\"#navbarSupportedContent\"" : "";
}
<div class="container container-fluid">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")#"><img src="~/dist/img/logo.png" alt="logo" width="67"
            height="50" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")#intro" class="nav-link" @Html.Raw(collapseToggle)>How we met</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")#events" class="nav-link" @Html.Raw(collapseToggle)>Events</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")#slideshow" class="nav-link"
                @Html.Raw(collapseToggle)>Slideshow</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Registry")" class="nav-link">Registry</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")#rsvp" class="nav-link">RSVP</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Guest")" class="nav-link">Guest List</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Elmah")" class="nav-link">Elmah</a>
                </li>
            }
        </ul>
        @*<ul class="d-flex">
            @{
                string userAction = User.Identity?.IsAuthenticated == true ? "Logout" : "Login";
            }
            <li class="nav-item"><a href="@Url.Action(userAction, "User")"
                    class="btn btn-light btn-small">@userAction</a></li>
        </ul>*@
    </div>
</div>
