@model List<Wedding.Data.Guest>
@{
    ViewData["Title"] = "Guest List";
    int adults = Model.Where(x => x.IsGoing == true).Sum(x => x.NumberAdults);
    int children = Model.Where(x => x.IsGoing == true).Sum(x => x.NumberChildren);
    int total = adults + children;
}

<div class="container mt-3">
    <div class="row text-center">
        <div class="col-md">Total Adults: @adults</div>
        <div class="col-md">Total Children: @children</div>
        <div class="col-md">Total: @total</div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in Model)
            {
                <tr>
                    <td>@guest.GuestName</td>
                    <td>@(guest.IsGoing == true ? "GOING" : guest.IsGoing == false ? "NOT GOING" : "MAYBE")</td>
                    <td>@guest.NumberAdults</td>
                    <td>@guest.NumberChildren</td>
                    <td>@guest.Email</td>
                    <td>@guest.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>